@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');


:root{
  --cor-body: #222222;
  --cor-container: #FF7000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--cor-body);
  font-family: 'Roboto Mono', monospace;
}

.container{
  width: 600px;
  padding: 3rem;
  background-color: var(--cor-container);
  text-align: center;
  border-radius: 5px;
}

.container img{
  width: 100%;
}

.divisa{
  width:100%;
  height:2px;
  background-color: var(--cor-body);
  margin: 0.7rem 0;
}

.container h2{
  word-wrap: break-word;
  font-size: 16px;
}

.container button{
  padding: 0.5rem 1.5rem;
  background-color: var(--cor-body);
  border: none;
  border-radius: 5px;
  color: var(--cor-container);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  width: 120px;
  height: 40px;
}

.categorias{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.categorias ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.categorias ul li{
  background-color: var(--cor-body);
  padding: 0.4rem;
  border-radius: 50px;
  color: #fff;
}

.texto-categoria{
  margin-top: 1.5rem;
}


@media screen and (max-width: 414px){
  .container{
    width: 250px;
  }
  .container h2{
    font-size: 10px;
  }

  .divisa{
    margin: 0.2rem 0;
  }

  .container button{
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80px;
    height: 30px;
    font-size: 10px;
  }

  .categorias{
    margin-top: 1rem;
  }

  .categorias ul{
  flex-wrap: wrap;
  justify-content:center ;
  }

  .categorias ul li{
    font-size: 10px;
    padding: 0.2rem;
  }
  
}

@media screen and (max-width: 768px){
  .container{
    width: 500px;
  }
}

